.sqr {
    margin: 30%;
    margin-top: 20px;
    margin-bottom: 40px;

}

.ser2 {
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 0px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 40px;
    grid-gap: 30px;
}

.blackbg #h3 {
    font-size: 22px;
    padding-left: 60px;
    padding-top: 40px;
}

.interser2 h3 {
    margin-bottom: 20px;
}

.yrt h3 {
    margin-bottom: 40px;
}

 .btn a{
    margin: 20px;
    padding: 20px;
    margin-top: 50px;

}
a{
    text-decoration: none;
}
.btns a{
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.247);
    margin: 20px;
    margin-top: 50px;
    background: white;
    width: 100vw;
}

 .btns a:hover {
    background: linear-gradient(135deg, #3C8CE7 0%, #00EAFF 100%)  ;
    border: none;
    color:white;
}
 .btns a:active{
    background: linear-gradient(135deg, #3C8CE7 0%, #00EAFF 100%)  ;
    border: none;
    color:white;
}

.yent{
    padding: 40px;
    text-align: center;
}

.twohalf{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
}
.cy2-2 li {
    margin-bottom: 15px;
}

.exter-link{
    margin-top: 50px;
}
.exter-link p{
    margin-bottom: 50px;
    text-align: left;
}

.exter-link a{
    
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.247);  
    background: white;
    width: 200px;
}

.exter-link a:hover{
    background: linear-gradient(135deg, #3C8CE7 0%, #00EAFF 100%)  ;
    border: none;
    color:white;
}